# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# SQLite Database
database/resumes.db

# Operating System Files
.DS_Store
Thumbs.db