.main {
    background: linear-gradient(135deg,#F7F9FC,#EEF3FF);
}

h1{
    color:#1F3C88;
    font-weight:700;
}

div[data-testid="metric-container"]{
    background:white;
    border-radius:15px;
    padding:20px;
    box-shadow:0px 6px 15px rgba(0,0,0,0.12);
    border-left:5px solid #4F46E5;
}

.stButton>button{
    width:100%;
    border-radius:10px;
    background:#4F46E5;
    color:white;
    font-size:16px;
    font-weight:bold;
}

.stButton>button:hover{
    background:#2563EB;
    color:white;
}

footer{
    visibility:hidden;
}